# Directorio donde los scripts que usa el main estaran ubicados
SCRIPTDIR="./scriptdir"
# Repositorio de GitHub donde estan los scripts de monitoreo
GITURL="<URL_DE_SU_REPOSITORIO_DE_GIT>"
# El nombre del directorio donde se clonara el repositorio de scripts de monitoreo
GITDIR="/vagrant/demo"
# Llaves del usuario en ThingSpeak https://thingspeak.com/account/profile
# Campo 'User API Key'
USERAPIKEYTS="<LLAVE_DE_USUARIO_EN_THINGSPEAK>"
# Nombre del canal que desea crear en ThingSpeak
TSCHANNELNAME="<SU_NOMBRE_DE_CANAL>"
